version: "3.9"
services:
  db:
    image: postgres:16
    container_name: bookshelf_db
    env_file:
      - .env
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: bookshelf_api
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"

volumes:
  pgdata:
